@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #3F5F7B;
}

.imgLogo {
  width: 50px !important;
  height: auto !important;
  padding: 5px !important;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLink {
  color: #F4F4F4 !important;
  text-decoration: none !important;
  font-size: 16px !important;
  padding: 0 10px !important;
}
.navLink:hover {
  color: #F5C77D !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: #F4F4F4;
  padding: 0 5px;
}

.divCarrusel {
  margin: auto;
  overflow: hidden;
}

.divCarrusel img {
  width: 100%;
}

.innerCarrusel {
  display: flex;
  animation: deslizamiento 15s infinite;
}

@keyframes deslizamiento {
  0%, 20% {
    transform: translateX(0);
  }
  25%, 45% {
    transform: translateX(-100%);
  }
  50%, 70% {
    transform: translateX(-200%);
  }
  75%, 95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}
.divNosotros {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.pNosotros {
  background-color: rgba(63, 95, 123, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  text-align: center;
}

.aNosotros {
  padding: 10px;
  background-color: #F5C77D;
  color: #fff;
  text-decoration: none !important;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.aNosotros:hover {
  background-color: #3F5F7B;
  color: #fff;
}

.divCategorias {
  position: relative;
  padding: 15px 0px;
}
.divCategorias a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 180px;
  background-color: rgba(63, 95, 123, 0.8);
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.divCategorias a:hover {
  background-color: #F5C77D;
}
.divCategorias img {
  box-shadow: 0 0 5px #000;
}

.iframeMapa {
  width: 450px;
  height: 280px;
  border: 0;
}

.divEnvios {
  position: relative;
}
.divEnvios a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 180px;
  background-color: rgba(63, 95, 123, 0.8);
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.divEnvios a:hover {
  background-color: #F5C77D;
}
.divEnvios img {
  height: 280px;
  box-shadow: 0 0 5px #000;
}

.divNewsletter {
  box-shadow: 0 0 5px #000;
  padding: 10px;
  margin-bottom: 15px;
}
.divNewsletter p {
  margin: 0;
}
.divNewsletter label {
  font-size: 12px;
}

.divNovedades {
  display: flex;
  align-items: center;
}
.divNovedades i {
  margin-right: 10px;
}
.divNovedades a {
  margin-right: 10px;
  align-items: end;
}

.footer {
  background-color: #3F5F7B;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #F4F4F4;
}

.divRedes {
  margin-top: 10px;
}
.divRedes a {
  font-size: 20px;
  color: #F5C77D;
  padding: 5px;
}
.divRedes a:hover {
  color: #333;
}

.aSubir {
  height: 30px;
  width: 30px;
  background-color: #F5C77D;
  color: white;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 5px #fff;
}

.aWhatsapp {
  position: fixed;
  bottom: 50px;
  right: 25px;
  font-size: 50px;
  text-align: center;
}

.divSubcategorias {
  position: relative;
}
.divSubcategorias a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 180px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.divSubcategorias a:hover {
  background-color: #F5C77D;
}
.divSubcategorias img {
  width: 300px;
  height: auto;
  box-shadow: 0 0 5px #000;
}

.h4Productos {
  padding-top: 10px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.divCardProductos {
  padding: 5px;
  margin: 10px;
  box-shadow: 0 0 3px #000;
  width: 300px;
  height: auto;
}
.divCardProductos:hover {
  transform: scale(1.05);
}
.divCardProductos h6 {
  text-align: center;
  font-weight: bold;
}
.divCardProductos p {
  text-align: center;
  color: #F5C77D;
}

.imgSobreNos {
  max-width: 100%;
  height: auto;
  margin: 15px;
  box-shadow: 0 0 5px #000;
  transition: filter 1s ease;
}
.imgSobreNos:hover {
  filter: grayscale(100%);
}

.pSobreNos {
  margin: 15px;
  font-size: 18px;
  color: #333;
  background-color: #F4F4F4;
  padding: 10px;
  border-left: 5px solid #F5C77D;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnContacto {
  margin: 10px;
}

.bodyFondo {
  background-image: url("/img/fondoContacto1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}/*# sourceMappingURL=estilos.css.map */